langchain
langchain-core
langchain-community
langgraph

langchain-groq
langchain-mistralai

chromadb

python-dotenv

pandas
numpy

GitPython

tiktoken

sentence-transformers

unstructured
pypdf
python-docx
beautifulsoup4
lxml

tree-sitter
tree-sitter-python


matplotlib

rich

requests

torchvision

fastapi
uvicorn
pydantic